html {
    height: 100%; /* Ensures the root element takes full height */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use full viewport height */
    margin: 0; /* Resets any default margin */
}

.body-content {
    flex: 1; /* This makes the content expand to fill available space */
    /* Rest of your styles */
}

h3 {
    color: #0056b3; /* Headers Color */
    margin-bottom: 20px; /* Spacing after headers */
}

ul {
    list-style-type: none; /* Removes default bullets */
    padding: 0;
}

ul li a {
    color: #0056b3; /* Link Color */
    text-decoration: none; /* Removes underline */
}

ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

button {
    background-color: #008cba; /* Button Color */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin between buttons */
}

button:hover {
    background-color: #0056b3; /* Button Hover Color */
}

footer {
    background-color: #343a40; /* Dark background */
    color: white; /* White text */
    padding: 10px 0; /* Some padding on top and bottom */
    font-size: 14px; /* Smaller font size */
    margin-top: auto; /* Pushes footer to the bottom */
}

footer p {
    margin: 0; /* Keeps the current margin setting */
    padding-left: 20px; /* Adds space to the left inside the footer */
}

.job-ad-container {
    background-color: #f8f9fa; /* Light background for the container */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 20px 0; /* Margin for top and bottom */
    line-height: 1.6; /* Improved line height for readability */
}

.job-ad-container p {
    margin: 0 0 20px; /* Margin for paragraphs */
}

/* Additional styling if needed */
