{% extends "base.html" %}
{% block title %}View job Profile{% endblock %}
{% block content %}


    <h1>Edit Company Profile</h1>
    <form method="post">
        <div>
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" value="{{ profile.company_name }}">
        </div>
    
        <div>
            <label for="company_website">Company Website:</label>
            <input type="url" id="company_website" name="company_website" value="{{ profile.company_website }}">
        </div>
    
        <div>
            <label for="business_phone">Business Phone:</label>
            <input type="tel" id="business_phone" name="business_phone" value="{{ profile.business_phone }}">
        </div>
    
        <div>
            <label for="main_office_address">Main Office Address:</label>
            <input type="text" id="main_office_address" name="main_office_address" value="{{ profile.main_office_address }}">
        </div>
    
        <div>
            <label for="address_line_1">Address Line 1:</label>
            <input type="text" id="address_line_1" name="address_line_1" value="{{ profile.address_line_1 }}">
        </div>
    
        <div>
            <label for="address_line_2">Address Line 2:</label>
            <input type="text" id="address_line_2" name="address_line_2" value="{{ profile.address_line_2 }}">
        </div>
    
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="{{ profile.city }}" >
        </div>
    
        <div>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" value="{{ profile.country }}">
        </div>
    
        <div>
            <label for="working_hours"> Working Hours:</label>
            <input type="text" id="working_hours" name="working_hours" value="{{ profile.working_hours }}">
        </div>
    
        <div>
            <label for="working_days"> Working Days:</label>
            <input type="text" id="working_days" name="working_days" value="{{ profile.working_days }}">
        </div>
    
        <div>
            <label for="work_arrangement">Work Arrangement:</label>
            <select id="work_arrangement" name="work_arrangement" >
                <option value="On-site">On-site</option>
                <option value="Remote">Remote</option>
                <option value="Hybrid">Hybrid</option>

            </select>
        </div>  

        <div>
            <label for="CompanyQ1">In your own words, what does your business do?</label>
            <textarea id="CompanyQ1" name="CompanyQ1" rows="4" cols="50" value="{{ profile.CompanyQ1 }}"></textarea>
        </div>

        <div>
            <label for="CompanyQ2">Who are your customers?</label>
            <textarea id="CompanyQ2" name="CompanyQ2" rows="4" cols="50" value="{{ profile.CompanyQ2 }}"></textarea>
        </div>

        <div>
            <label for="CompanyQ3">What employee benefits do you offer?</label>
            <textarea id="CompanyQ3" name="CompanyQ3" rows="4" cols="50" value="{{ profile.CompanyQ3 }}"></textarea>
        </div>
        <div>
            <label for="CompanyQ4">Top 3 reasons people should work for your company?</label>
            <textarea id="CompanyQ4" name="CompanyQ4" rows="4" cols="50" value="{{ profile.CompanyQ4 }}"></textarea>
        </div>
        <div>
            <label for="CompanyQ5">Tell us more about your company that we have not asked yet</label>
            <textarea id="CompanyQ5" name="CompanyQ5" rows="4" cols="50" value="{{ profile.CompanyQ5 }}"></textarea>
        </div>
        <div>
            <label for="CompanyQ6">In general, describle an ideal candidate to you. What characteristics they should have?</label>
            <textarea id="CompanyQ6" name="CompanyQ6" rows="4" cols="50" value="{{ profile.CompanyQ6 }}"></textarea>
        </div>
        <div>
            <label for="CompanyQ7">What's your standard selection/interview process?</label>
            <textarea id="CompanyQ7" name="CompanyQ7" rows="4" cols="50" value="{{ profile.CompanyQ7 }}"></textarea>
        </div>
        <div>
            <label for="CompanyQ8">Describle how do you conduct interviews? Do you have structured interview or more casual interview</label>
            <textarea id="CompanyQ8" name="CompanyQ8" rows="4" cols="50" value="{{ profile.CompanyQ8 }}"></textarea>    
        </div>


      

        <button type="submit">Save Changes</button>
    </form>
    
    <div>
        <a href="{{ url_for('view_company_profile') }}" style="text-decoration: none;">
            <button>Back</button>
        </a>
    </div>





{% endblock %}