
{% extends "base.html" %}
{% block title %}Edit job Profile{% endblock %}
{% block content %}

<h1>Edit Job Profile</h1>
<form method="post" action="{{ url_for('edit_job_profile', job_id=profile['job_id']) }}">
    <div>
        <label for="job_id">job ID:</label>
        <span id="job_id">{{ profile['job_id'] }}</span>
    </div>
    
    <div>
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title" value="{{ profile['job_title'] }}" required>
    </div>
    <div>
        <label for="report_to">Report To:</label>
        <input type="text" id="report_to" name="report_to" value="{{ profile['report_to'] }}" required>
    </div>
    <div>
        <label for="have_reports">Does this role have reports?</label>
        <select name="have_reports" id="have_reports" value="{{ profile['have_reports'] }}">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <button type="submit">Save Changes</button>
</form>

<div>
    <a href="{{ url_for('view_job_profile', job_id=profile.job_id) }}" style="text-decoration: none;">
        <button>Back</button>
    </a>
</div>
{% endblock %}
