{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


{% if user %}
<h3>Hello, {{ user.given_name }}</h3>

<!-- Job Advertisement Creation Button -->
<a href="/company_profile"><button>Create Company Profile</button></a>

<!-- {% if config.get("ENDPOINT") %}
<li><a href='/graphcall'>Call Microsoft Graph API</a></li>
{% endif %} -->

{% if config.get("B2C_PROFILE_AUTHORITY") %}
<li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit User Profile</a></li>
{% endif %}

<li><a href="/logout">Logout</a></li>

<p>User information: {{ user }}</p>

{% else %}
<li><a href='{{ auth_url }}'>Sign In</a></li>
{% endif %}

{% endblock %}
