{% extends "base.html" %}
{% block title %}Job Creation{% endblock %}
{% block content %}

<h1>Job Profile Creation</h1>

<form method="post" action="{{ url_for('job_profile') }}">
    <div>
        <label for="job_id">job ID:</label>
        <span id="job_id">{{ job_id }}</span>
    </div>    

    <div>
        <label for="job_title">Job Title:</label>
        <input type="text" name="job_title" id="job_title" required>
    </div>

    <div>
        <label for="report_to">Report To:</label>
        <input type="text" name="report_to" id="report_to" required>
    </div>


    <div>
        <label for="have_reports">Does this role have reports?</label>
        <select name="have_reports" id="have_reports">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <button type="submit">Save and Continue</button>
</form>
<a href="/">
    <button> Cancel</button>
    </a>
{% endblock %}
