{% extends "base.html" %}
{% block title %}Generated Job Advertisement{% endblock %}
{% block content %}

<div class="body-content">
    <h3>Job Advertisement</h3>

    <p>We have created the job advertisement for you. Please review and edit if necessary.</p>


    <div class="job-ad-container">
        <p>{{ job_ad | safe }}</p>
    </div>
    
    <!-- Edit Button -->
    <div>
        <a href="{{ url_for('edit_job_ad', job_id=job_id) }}">
            <button >Edit Job Ad</button>
        </a>
    </div>
    <div>
        <a href="{{ url_for('view_job_profile', job_id=job_id) }}">
            <button >Back</button>
        </a>
    </div>
</div>

{% endblock %}
