{% extends "base.html" %}
{% block title %}Job Creation{% endblock %}
{% block content %}

 <!-- Payment Page, Information are not coming from profile-->
 <table>
    <tr>
      <th>Service Type</th>
      <th>Standard Service</th>
      <th>Premium Service</th>
    </tr>
    <tr>
      <td>Single Req</td>
      <td onclick="selectPayment(this)">$4,399.99</td>
      <td onclick="selectPayment(this)">$4,899.99</td>
    </tr>
    <tr>
      <td>2 Reqs Pack</td>
      <td onclick="selectPayment(this)">$8,199.98</td>
      <td onclick="selectPayment(this)">$9,099.98</td>
    </tr>
    <tr>
      <td>3 Reqs Pack</td>
      <td onclick="selectPayment(this)">$11,999.97</td>
      <td onclick="selectPayment(this)">$13,299.97</td>
    </tr>
  </table>

  <!-- 2 by 2 table -->
  <table>

    <tr>
      <td>Premuim Servic</td>
      <td>Standard service + personality tests, pre-employment drug and alcohol test, police clearance and credit check, and 1st day on boarding plan for free! </td>
    </tr>
    <tr>
      <td>Standard Service</td>
      <td>We cover all recruiting costs and manage you job requisition until an offer is accepted by a candidate.</td>
    </tr>

  </table>
  <!-- You might want to add a form here to handle the payment after selection -->
  <form id="paymentForm">
    <!-- Hidden fields to store the selected payment information -->
    <input type="hidden" id="selectedService" name="selectedService">
    <input type="hidden" id="selectedAmount" name="selectedAmount">
    <button type="submit" > Pay Now </button>
  </form>
   <!-- Cancel button -->
    <div>
          <a href="{{ url_for('view_job_profile', job_id=job_id) }}">
              <button>Cancel</button>
          </a>
      </div>
   
    <script>
        function selectPayment(cell) {
          // Deselect all cells
          var cells = document.querySelectorAll('td');
          cells.forEach(function (td) {
            td.classList.remove('selected');
          });
      
          // Select the clicked cell
          cell.classList.add('selected');
          
          // You can also update some hidden form fields or perform other actions here
        }
      </script>
 {% endblock %}