{% extends "base.html" %}
{% block title %}View Company Profile{% endblock %}
{% block content %}

<h2>Company Profile: {{ profile.company_name }}</h2>

<div>
    <p><strong>Company ID:</strong> {{ profile.company_id }}</p>
    <p><strong>Company Name:</strong> {{ profile.company_name }}</p>
    <p><strong>Employee Number:</strong> {{ profile.employee_number }}</p>
    <!-- Add more fields as needed -->
</div>

<div>
    <a href="{{ url_for('edit_company_profile', company_id=profile['company_id']) }}">
        <button>Edit Company Profile</button>
    </a>
</div>

<div>
    <a href="/">
        <button>Back</button>
    </a>
</div>


{% endblock %}
