{% extends "base.html" %}
{% block title %}View job Profile{% endblock %}
{% block content %}

<h2>Job Profile: {{ profile.job_title }}</h2>

<div>
    <p><strong>job ID:</strong> {{ profile.job_id }}</p>
    <p><strong>Job Title:</strong> {{ profile.job_title }}</p>
    <p><strong>Report To:</strong> {{ profile.report_to }}</p>
    <p><strong>Have Reports:</strong> {{ profile.have_reports }}</p>
    <p><strong>Vacancy Number:</strong> {{ profile.vacancy_number }}</p>
    <p><strong>Job Responsibilities:</strong> {{ profile.job_reponsibilities }}</p>
    <p><strong>Ideal Candidate:</strong> {{ profile.ideal_candidate }}</p>
    <p><strong>Other Info:</strong> {{ profile.other_info }}</p>
    <p><strong>Full or Parttime:</strong> {{ profile.full_or_parttime }}</p>
    <p><strong>Job Type:</strong>   {{ profile.job_type }}</p>
    <p><strong>Fixed Term Reason:</strong> {{ profile.fixed_term_reason }}</p>
    <p><strong>Pay Contractor:</strong> {{ profile.pay_contractor }}</p>
    <p><strong>Salary Range:</strong> {{ profile.salary_range_min }} - {{ profile.salary_range_max }}</p>
    <p><strong>Working Hours:</strong> {{ profile.working_hours }}</p>
    <p><strong>Working Days:</strong> {{ profile.working_days }}</p>
    <p><strong>Work Arrangement:</strong> {{ profile.work_arrangement }}</p>
    <p><strong>Job Location:</strong> {{ profile.job_location }}</p>
    <p><strong>Visa Sponsor:</strong> {{ profile.visa_sponsor }}</p>
    <p><strong>Additional Notes:</strong> {{ profile.additional_notes }}</p>

</div>


{% if profile['job_status'] != "Submitted" %}
    <div>
        <a href="{{ url_for('job_profile', job_id=profile['job_id']) }}">
            <button>Edit Job Profile</button>
        </a>
    </div>

    <div>
        <a href= "{{ url_for('create_job_ad', job_id=profile['job_id']) }}">
            <button>Hire a Recruiter Now</button>
        </a>
    </div>

{% endif %}

{% if profile['job_status'] == "Submitted" %}
    
    <p><strong>Generated Job Ad:</strong>
    <div  class="job-ad-container">
        <!--the sage means that the html tags in the generated_ad will be rendered as html-->
        <a>{{profile['generated_ad'].replace("\n", "<br>") | safe}}</a>
    </div>
{% endif %}

<div>
    <a href="/">
        <button>Back</button>
    </a>
</div>

<form action="{{ url_for('delete_job_profile', job_id=profile.job_id) }}" method="post">
    <button type="submit" onclick="return confirmDelete();" >Delete</button>
</form>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this profile?');
    }
</script>

{% endblock %}
